@font-face{
  font-family: Ephesis;
  src: url(fuentes/Ephesis.ttf)
}
@font-face{
  font-family: Arch;
  src: url(fuentes/Arch.ttf)
}
@font-face{
  font-family: cinzel;
  src: url(fuentes/cinzel.ttf)
}
@font-face{
  font-family: lora;
  src: url(fuentes/lora.ttf)
}



.b-body1{
    background-image: url(imagenes/fondopoesia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}        

.b-body{
  background-image: radial-gradient(circle at 30.12% 59.27%, #e7d853 0, #fad60b 10%, #ff9c08 20%, #a15b0a 30%, #e78412 40%, #8f4306 50%, #a84314 60%, #94270c 70%, #e62f0f 80%, #fc1f0f 90%, #000013 100%);;
    background-repeat: repeat;
}

.b-header{
    height: 250px;
  }
  
  .b_container{
    height: 100px;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .b_logo{
    margin-top:30px;
    height: 130px;
  }
  
  .b_link{
  text-decoration: none;
  color: rgb(177, 104, 104);
  font-family: cinzel;
  font-size: 25px;
  margin-right: 15px;
  
  }
  
  nav a:hover {
    color: rgb(177, 88, 5);
  }
  

.b-head{
    
      margin-bottom: 50px;
      height: 250px;
      background-image: url(imagenes/marco.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 250px;
      text-align: center;
      padding: 150px 0 0 0;
}


.b-head__title{
  text-align: center;
  font-family: cinzel;
  margin: 0 auto;
  color: rgb(196, 180, 173);
}

.b-textpoem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
}

.b-margintext{
    margin-left: 15px;
}

.b-tittle_poem{
  font-family: cinzel;
  font-size: 40px;  
  text-align: center;
}

.b-text_parraf{
    font-family: lora;
    font-size: 30px;
    margin-top: 7px;
    text-align: center;
    line-height: 30px;
    padding: 5px;
}

.b-img_poem{
    margin-top: 15px; 
    width: 300px;  
    float: right;
}

.b-img_poem1{
  margin-top: 15px; 
  width: 200px;  
  float: right;
}

.b-textpoem_1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px;
  margin-top: 100px;
}


.b-animado__img{
  opacity: 0;
  transition: all 1s;
}

.b-showRight{
  animation: b-showRight 2s;
}

@keyframes b-showRight {
0% {
    transform: translateX(60px);
}
100%{
    transform: translateX(0);
}
}

.b-animado__text{
opacity: 0;
transition: all 1s;
}

.b-showLeft{
animation: b-showLeft 2.5s;
}

@keyframes b-showLeft {
0% {
  transform: translateX(-60px);
}
100%{
  transform: translateX(0);
}
}