@font-face{
  font-family: cinzel;
  src: url(fuentes/cinzel.ttf)
}

.b_header{
  background-image: url(imagenes/fondo4.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  
}

.b_container{
  height: 100px;
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b_logo{
  margin-top:30px;
  height: 130px;
}

.b_link{
  text-decoration: none;
  color: rgb(248, 248, 242);
  font-family: cinzel;
  font-size: 25px;
  margin-right: 15px;
  }

nav a:hover {
  color: rgb(177, 88, 5);
}

.b-text{
  margin-left: 8%;
  margin-top: 8%;
} 

.b-title{
  font-family: cinzel;
  font-size: 50px;
  color: rgb(12, 11, 11);
  margin-bottom: 20px;
}

.b-title_span{
  color: rgb(134, 7, 7);
}

.b-parraf{
  font-family: cinzel;
  color: rgba(26, 24, 24, 0.952);
  line-height: 22px;
  font-size: 20px;
}