:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
  }

  
.b_header {
    background-color: var(--dark-cyan);
    background-image: url("./api_imagenes/bg-pattern-top.svg"), url("./api_imagenes/bg-pattern-bottom.svg");
    background-repeat: no-repeat no-repeat;
    height: 100vh;
    margin: -7px;
}



*{ 
    margin: 0; 
    padding: 0; 
  }

  nav {
    position: fixed;
    margin-top: 0px;
    width: 100%;
    background-color: #1a1a1a;
    background-image: linear-gradient(185deg, #020c11 0, #133f57 5%, #0099f6 10%, #0095fa 15%, #0091fb 20%, #008cfb 25%, #4887f8 30%, #6e81f3 35%, #8a7aec 40%, #a173e3 45%, #b46cd8 50%, #c465cc 55%, #d15ebf 60%, #dc58b1 65%, #e453a2 70%, #ea5093 75%, #3294d6 80%, #5053ef 85%, #ee5367 90%, #eb5858 95%, #e75d4b 100%);
    padding: 0 25px;  
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  nav li {
    display: inline-block;
    width: 70px;
    color: white;
    text-decoration: none;
    text-align: center; 
    padding: 10px 0;
  }
  
  nav li:active {
    background-color: #333333;
  }
  
  nav li:hover {
    background-color: #881892;
  }
  
  nav button {
    display: none;
  }
  
  
  @media (max-width: 500px) {
      nav li {
      display: block;
        width: 100%;
        border-bottom: 1px solid white;
        padding: 5px 0;
        
    }
    
    nav {
      padding: 10px 0 0 0;
    }
  }

  .b_nav__li {
      text-decoration: none;
      color: #fff;
  }


 .content {
	width:600px;
	height:400px;
	line-height:400px;
	margin:0px auto;
	text-align:center;
	
}
 
.content img {
	vertical-align:middle;
}

.b_back{
  /* background-image: linear-gradient(270deg, #4eb58d 0, #3ea88a 10%, #309884 20%, #26857a 30%, #21706c 40%, #1f5959 50%, #1e4345 60%, #1b3033 70%, #182122 80%, #131414 90%, #0c0502 100%); */
   background-image: url(./api_imagenes/hotel-wallpaper-black.png), url(./api_imagenes/hotel-wallpaper.png);
   background-size: cover;
   
}


.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon {
  background-color: #ffff;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}

.pokemon .img-container img {
  max-width: 90%;
  margin-top: 20px;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .info .number {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8em;
}

.pokemon .info .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}

.b_margin{
  margin-top: 500px;
}

