*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(255, 252, 245);
    background-color: rgb(145, 197, 201);
}

.nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px, 0;
    align-items: center;
    justify-content: space-between;
    
}


.list{
    display: inline-block;
    list-style: none;
    margin: 10px, 20px;
    padding-right: 5px;
    padding-left: 5px;
}

.text_nav{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(11, 18, 112);
}

.detail{
    margin-left: 8%;
    margin-top: 8%;
}

.title1{
    font-size: 700px;
    color: rgb(8, 3, 3);
    margin-bottom: 20px;
}


.title_span{
    color: rgb(62, 62, 235);
}

.parraf{
    color: #555;
    line-height: 22px;
}

 .images{
    width: 45%;
    height: 60%;
    position: absolute;
    bottom: 0;
    right: 100px;
}


.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
